# Log files
*.log
*.log.*

# Built application files
*.apk
*.aab
*.keystore
*.jks

# Files for the IDE
.idea/
*.iml
.gradle/
build/
.DS_Store
.externalNativeBuild/

# Folders for native builds
.cxx/

# Files for local configuration
local.properties
gradle/wrapper/gradle-wrapper.properties

# Files for Google Services
google-services.json

# Ignore all files in the directory named 'outputs'
outputs/
